p
  b Senior Developer | Senior Web Developer | Life Learning Certificate Trainer | Futurist
  br
  | I am Sheik Hazrin, living in Johor Bahru, Johor !{' '}
  a(href='https://en.wikipedia.org/wiki/Malaysia' target='_blank')
    | Malaysia. !{' '}
  | I enroll in professional online courses from  
  a(href='https://www.coursera.org/sheikhazrin' target='_blank')
    | Cousera.
  q Let Learn Digital and build something that makes a difference to the community.
  
p
  | I am going to share with you how to become a veteran developer like me.!{' '} 
  | I started programming using language like !{' '} 
  b C, Visual Basic, ASP, PHP, OOP with SQL, MySQL database.
  | Well, it does not just end there
  | .

p
  | Technology change so fast. New programming languages, frameworks !{' '}
  b (Laravel, NodeJS, React, Vue, NextJS NuxtJS, TypesScript) and libraries pop up all the time. !{' '}
  | I am repeating myself to keep learning, increase skills, !{' '}
  | and grow superb by solving problems through technology !{' '}
  |.

q So a programmer building software twenty years ago was solving the same problems (more or less) as an engineer today. 

p
  | It doesn’t matter if you are an experienced or newbie programmer. 
  q Learning by doing brings much more results than learning passively, especially when it comes to programming. !{' '}
  |.


