p
  | Welcome to my GitHub profile! 
  br
  | I am Sheik Hazrin:  !{' '}
  b Senior Developer | Senior Web Developer | Life Learning Certificate Trainer | Futurist !{' '}
  |  living in Johor Bahru, Johor !{' '}
  a(href='https://en.wikipedia.org/wiki/Malaysia' target='_blank')
    | Malaysia MY !{' '}
  |  and currently in online class for professional skill at
  a(href='https://www.coursera.org/sheikhazrin' target='_blank')
    | Cousera.org !{' '}
  | Apply what i learn and give back to community as Trainer | Full Stack Developer | Front End Developer | DevOps.
  
p
  | Experience developer with experience in e-commerce, enterprise and high-performance web technologies.!{' '}
  | High-performance technologist skilled at defining, designing and implementing a highly secure, continuous-deployment pipeline  in cloud environments. !{' '}
  | Innovator of next-generation solutions and producing outstanding results for organisation. !{
  | . I'm also an !{' '}
  a(href='https://archiveprogram.github.com/' target='_blank')
    | ❄️ Arctic Code Vault Contributor
  | .

p
  | I am going to share with you how to become a veteran programmer/coder/developer. Humor me. !{' '}
  | You’d ask me if I am one, smiles. !{' '}
  | I'm starter to coder using language like !{' '}
  b c, visual basic, asp , php, oop with SQL, MySQL database. !{' '}
  | Well, it does not just end there. Then !{' '}
  b framework, laravel, nodejs, reactjs , vuejs, nextjs, nuxtjs, typescript and many more. !{' '}
  | I keep try practicing and pick projects “jobs” at random to myself. Think of new concepts to problems to solve. !{' '}
  | In conclusion, I’ll like to tell you (programmer/coder/developer) to keep getting better and become stronger. !{' '}
  | The solutions for the future is on your brain and hand.

